<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans-3.0.dtd">

<beans>
	<bean id="triangle" class="org.mjr.dependecyInjection.Triangle">
		<constructor-arg type="java.lang.String" value="Equilatero "></constructor-arg>
		<constructor-arg  type="int" value="20"></constructor-arg>
	</bean>
	
</beans>